<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvClt07M19KpxG5El2X675VVpILbIZZ8o</string>
	<key>GCM_SENDER_ID</key>
	<string>358472860686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.caospinap.hangmanEnglishLearn</string>
	<key>PROJECT_ID</key>
	<string>hangman-english-game</string>
	<key>STORAGE_BUCKET</key>
	<string>hangman-english-game.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358472860686:ios:3ee4afe063dbca4d8c285f</string>
</dict>
</plist>